<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tehran Space - signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="signin-form profile">
        <h3>Sign Up</h3>
        
        <div class="signup-form">
            <form action="/auth/signup" method="post">
                <input type="text" name="email" placeholder="E-mail" required="">
                <input type="password" name="password" placeholder="Password" required="">
                <input type="password" name="passwordConf" placeholder="Confirm Password" required="">
				<input type="submit" value="REGISTER">
            </form>
        </div>
    </div>
</body>
</html>
